<div class="welcome">
  <h1>Welcome to Eat the Burger</h1>
</div>

<div class="order">
<h2>May I take your order?</h2>


<form class="create-form">

     <form id="addBurgerForm">
        <input type="text" id="add-burger" placeholder="Enter a burger">
        <br>
        <button type="submit" id="submit">Place your order</button>
        <p>Ready to order?</p>
        <p>Just type in the burger you would like to eat and it will show up in the pick-up area</p>
    </form>
 <ul>

</div>

<div class="orderup">
<h2>Orders that are ready!</h2>


<p>Thank you for visiting Eat-Da-Burger!</p> 
<p>Please come by again soon!</p>
</div>