<h1>Welcome to Eat the Burger</h1>

<h2>May I take your order?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="order">Burger Name:</label>
    <input type="text" id="order" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Ready to order?</label><br>
    <input type="radio" name="devoured" value="1" checked> Add a burger<br>
  </div>

  <button type="submit">Place Order</button>
</form>

<h2>Orders that are ready!</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>