body {
  background-color:#272b27;
}

.welcome {
  margin: auto;
  padding: 1%;
  width: 80%;
  background-color: #3e7a50;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  padding:5%;
}

button {
  margin:1%;
}

h2 {
  font-size: 1.5em;
}

img {
  width:35%;
  float:right;
  border: solid thin black;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
img {
  width:100%;
}
}

.order {
  margin: auto;
  padding: 1%;
  width:80%;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cleanUp {
  margin: auto;
  text-align: center;
  background-color: #3e7a50;
  padding: 1%;
  width:80%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  letter-spacing: 2px;
}




